<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project 5 - Washington DC Data</title>
        
<!-- 

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="static/apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/owl-carousel.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<body>
	<table >
		<tr>
			<td>
				<form action="/graph" class="sidebar-navigation hidde-m hidden-s" method="get">
					<h2 style="color:indianred">Graph 1:</h2>
						<p>
							<label for="x_var">X Variable:</label>
							<select id="x_var" name="x_var">
								<option value='Neighborhood Cluster'>Neighborhood Cluster</option>
								<option value= 'Sum of enrollment (SY1819)' >Sum of enrollment (SY1819)</option>
								<option value= 'Average of Star Rating (SY1819)' >Average of Star Rating (SY1819)</option>
								<option value= 'Average Percent - 0% Truancy (SY1819)' >Average Percent - 0% Truancy (SY1819)</option>
								<option value= 'Average Percent Truancy (20+) (SY1819)' >Average Percent Truancy (20+) (SY1819)</option>
								<option value= 'Sum of Budgeted Amount (FY17)' >Sum of Budgeted Amount (FY17)</option>
								<option value= 'Sum of Budgeted Enrollment (FY17)' >Sum of Budgeted Enrollment (FY17)</option>
								<option value= 'Average percent of students that meet or exceed Math (SY1819)' >AVG % students that meet/exceed Math (SY1819)</option>
								<option value= 'Average percent of students that meet or exceed ELA (SY1819)' >AVG % students that meet/exceed ELA (SY1819)</option>
							</select>
						</p>
						<p>
							<label for="y_var">Y Variable:</label>
							<select id="y_var" name="y_var">
								<option value='Neighborhood Cluster'>Neighborhood Cluster</option>
								<option value= 'Sum of enrollment (SY1819)' >Sum of enrollment (SY1819)</option>
								<option value= 'Average of Star Rating (SY1819)' >Average of Star Rating (SY1819)</option>
								<option value= 'Average Percent - 0% Truancy (SY1819)' >Average Percent - 0% Truancy (SY1819)</option>
								<option value= 'Average Percent Truancy (20+) (SY1819)' >Average Percent Truancy (20+) (SY1819)</option>
								<option value= 'Sum of Budgeted Amount (FY17)' >Sum of Budgeted Amount (FY17)</option>
								<option value= 'Sum of Budgeted Enrollment (FY17)' >Sum of Budgeted Enrollment (FY17)</option>
								<option value= 'Average percent of students that meet or exceed Math (SY1819)' >AVG % students that meet/exceed Math (SY1819)</option>
								<option value= 'Average percent of students that meet or exceed ELA (SY1819)' >AVG % students that meet/exceed ELA (SY1819)</option>	
							</select>
						</p>
						<!--
						<p>
							<label for="hue">Color By:</label>
							<select id="hue" name="hue">
								<option value=1>Truancy Count</option>
								<option value=2>Truancy Percent</option>
								<option value=3>Graduates/Truancy</option>
								<option value=4>Graduates</option>
							</select>
						</p> -->
					<h2 style="color:indianred">Graph 2:</h2>
						<p>
							<label for="x_var2">X Variable:</label>
							<select id="x_var2" name="x_var2">
								<option value='Neighborhood Cluster'>Neighborhood Cluster</option>
								<option value= 'Sum of enrollment (SY1819)' >Sum of enrollment (SY1819)</option>
								<option value= 'Average of Star Rating (SY1819)' >Average of Star Rating (SY1819)</option>
								<option value= 'Average Percent - 0% Truancy (SY1819)' >Average Percent - 0% Truancy (SY1819)</option>
								<option value= 'Average Percent Truancy (20+) (SY1819)' >Average Percent Truancy (20+) (SY1819)</option>
								<option value= 'Sum of Budgeted Amount (FY17)' >Sum of Budgeted Amount (FY17)</option>
								<option value= 'Sum of Budgeted Enrollment (FY17)' >Sum of Budgeted Enrollment (FY17)</option>
								<option value= 'Average percent of students that meet or exceed Math (SY1819)' >AVG % students that meet/exceed Math (SY1819)</option>
								<option value= 'Average percent of students that meet or exceed ELA (SY1819)' >AVG % students that meet/exceed ELA (SY1819)</option>
							</select>
						</p>
						<p>
							<label for="y_var2">Y Variable:</label>
							<select id="y_var2" name="y_var2">
								<option value='Neighborhood Cluster'>Neighborhood Cluster</option>
								<option value= 'Sum of enrollment (SY1819)' >Sum of enrollment (SY1819)</option>
								<option value= 'Average of Star Rating (SY1819)' >Average of Star Rating (SY1819)</option>
								<option value= 'Average Percent - 0% Truancy (SY1819)' >Average Percent - 0% Truancy (SY1819)</option>
								<option value= 'Average Percent Truancy (20+) (SY1819)' >Average Percent Truancy (20+) (SY1819)</option>
								<option value= 'Sum of Budgeted Amount (FY17)' >Sum of Budgeted Amount (FY17)</option>
								<option value= 'Sum of Budgeted Enrollment (FY17)' >Sum of Budgeted Enrollment (FY17)</option>
								<option value= 'Average percent of students that meet or exceed Math (SY1819)' >AVG % students that meet/exceed Math (SY1819)</option>
								<option value= 'Average percent of students that meet or exceed ELA (SY1819)' >AVG % students that meet/exceed ELA (SY1819)</option>
							</select>
						</p>
						<!--
						<p>
							<label for="hue2">Color By:</label>
							<select id="hue2" name="hue2">
								<option value=1>Truancy Count</option>
								<option value=2>Truancy Percent</option>
								<option value=3>Graduates/Truancy</option>
								<option value=4>Graduates</option>
							</select>
						</p>
						<p> 
							<label for="year2">Year:</label>
							<select id="year2" name="year2">
								<option value=2013>SY 2013-2014</option>
								<option value=2014>SY 2014-2015</option>
								<option value=2015>SY 2015-2016</option>
								<option value=2016>SY 2016-2017</option>
							</select>
						</p>
						<p> -->
						<p>
							<label for="chorop_n">Choropleth Neighborhood Variable:</label>
							<select id="chorop_n" name="chorop_n">
								<option value='Average of Star Rating (SY1819)'>Average of Star Rating (SY1819)</option>
								<option value='Average Percent - 0% Truancy (SY1819)'>Average Percent - 0% Truancy (SY1819)</option>
								<option value='Average percent of students that meet or exceed Math (SY1819)'>AVG % students that meet/exceed Math (SY1819)</option>
								<option value='Average percent of students that meet or exceed ELA (SY1819)'>AVG % students that meet/exceed ELA (SY1819)</option>
							</select>
						</p>
					<p><button type="submit">Update Dashboard</button></p>
				</form>
			</td>
			<td>
			</td>
		</tr>
	</table>	
		<div class="content-section">
				{{graph|safe}}


				{{graph2|safe}}
		</div>
	<br>
	<br>
	<br>
	<center>
		{{graph_title}}
	{% include "/map2.html" %}
	<p><a href="/#app"><button type="home">Return</button></a></p>
	</center>
	
</body>
</html>